<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.moka.carsharing">
    <!-- 允许程序打开网络套接字 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <!-- 允许程序设置内置sd卡的写权限 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!-- 允许程序获取网络状态 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!-- 允许程序访问WiFi网络信息 -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <!-- 允许程序读写手机状态和身份 -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <!-- 允许程序访问CellID或WiFi热点来获取粗略的位置 -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <!-- 允许拨打电话 -->
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <!--用于访问GPS定位-->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <!--这个权限用于获取wifi的获取权限，wifi信息会用来进行网络定位-->
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <!--用于申请调用A-GPS模块-->
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS" />
    <!--用于申请获取蓝牙信息进行室内定位-->
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />

    <uses-permission android:name="android.permission.CHANGE_CONFIGURATION" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
     
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />

    <!-- 允许程序打开网络套接字 -->
    <uses-permission-sdk-23 android:name="android.permission.INTERNET" />
    <!-- 允许程序设置内置sd卡的写权限 -->
    <uses-permission-sdk-23 android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!-- 允许程序获取网络状态 -->
    <uses-permission-sdk-23 android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!-- 允许程序访问WiFi网络信息 -->
    <uses-permission-sdk-23 android:name="android.permission.ACCESS_WIFI_STATE" />
    <!-- 允许程序读写手机状态和身份 -->
    <uses-permission-sdk-23 android:name="android.permission.READ_PHONE_STATE" />
    <!-- 允许程序访问CellID或WiFi热点来获取粗略的位置 -->
    <uses-permission-sdk-23 android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <!-- 允许拨打电话 -->
    <uses-permission-sdk-23 android:name="android.permission.CALL_PHONE" />
    <!--用于访问GPS定位-->
    <uses-permission-sdk-23 android:name="android.permission.ACCESS_FINE_LOCATION" />
    <!--这个权限用于获取wifi的获取权限，wifi信息会用来进行网络定位-->
    <uses-permission-sdk-23 android:name="android.permission.CHANGE_WIFI_STATE" />
    <!--用于申请调用A-GPS模块-->
    <uses-permission-sdk-23 android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS" />
    <!--用于申请获取蓝牙信息进行室内定位-->
    <uses-permission-sdk-23 android:name="android.permission.BLUETOOTH" />
    <uses-permission-sdk-23 android:name="android.permission.BLUETOOTH_ADMIN" />

    <uses-permission-sdk-23 android:name="android.permission.CHANGE_CONFIGURATION" />
    <uses-permission-sdk-23 android:name="android.permission.WAKE_LOCK" />
     
    <uses-permission-sdk-23 android:name="android.permission.WRITE_SETTINGS" />

    <application
        android:name=".LIMSApplication"
        android:allowBackup="true"
        android:icon="@mipmap/icon"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar">

        <!-- 高德地图api -->
        <meta-data
            android:name="com.amap.api.v2.apikey"
            android:value="90d7911aa9c61aa96a74e98fdb1ad589" /><!--c776b90b6f9c980cce2b0ec84e500588--><!--90d7911aa9c61aa96a74e98fdb1ad589-->

        <service android:name="com.amap.api.location.APSService" />

        <activity
            android:name=".ui.GuideActivity"
            android:windowSoftInputMode="adjustNothing"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.RegisterActivity" android:screenOrientation="portrait"/>
        <activity android:name=".ui.HomePageActivity" android:screenOrientation="portrait"/>
        <activity android:name=".ui.PhoneActivity" android:screenOrientation="portrait"/>
        <activity android:name=".ui.Indent.IndentActivity" android:screenOrientation="portrait"/>
        <activity android:name=".ui.Indent.IndentConfirmActivity" android:screenOrientation="portrait"/>
        <activity android:name=".ui.Indent.IndentDetailActivity" android:screenOrientation="portrait"/>
        <activity android:name=".ui.LoginActivity" android:screenOrientation="portrait"/>
        <activity android:name=".ui.Indent.PayMethodActivity" android:screenOrientation="portrait"/>
        <activity android:name=".ui.InstructionsActivity" android:screenOrientation="portrait"/>
        <activity android:name=".ui.FaqActivity" android:screenOrientation="portrait"/>
        <activity android:name=".ui.CarInfoActivity" android:screenOrientation="portrait"/>
        <activity android:name=".ui.RegisterNextActivity" android:screenOrientation="portrait"/>
        <activity android:name=".ui.account.MyAccountActivity" android:screenOrientation="portrait"/>
        <activity android:name=".ui.account.MyUserNameEditActivity" android:screenOrientation="portrait"/>
        <activity android:name=".ui.tickets.HistoryTicketsActivity" android:screenOrientation="portrait"/>
        <activity android:name=".ui.tickets.CreateNewTicketActivity" android:screenOrientation="portrait"/>
        <activity
            android:name=".ui.position.CarPositionActivity"
            android:windowSoftInputMode="adjustNothing" android:screenOrientation="portrait"/>
        <activity android:name=".ui.order.OrderConfirmActivity" android:screenOrientation="portrait"/>
        <activity android:name=".ui.order.OrderToTicketActivity" android:screenOrientation="portrait"></activity>
        <activity android:name=".ui.position.NavigationActivity" android:screenOrientation="portrait"/>
        <activity android:name=".ui.position.RestRouteShowActivity" android:screenOrientation="portrait"/>
        <activity
            android:name=".wxapi.WXPayEntryActivity"
            android:exported="true"
        android:launchMode="singleTop" />
    </application>
</manifest>