<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.haundianchi.huandianchi">

    <!-- 允许程序打开网络套接字 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <!-- 允许程序设置内置sd卡的写权限 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!-- 允许程序获取网络状态 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!-- 允许程序访问WiFi网络信息 -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <!-- 允许程序读写手机状态和身份 -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <!-- 允许程序访问CellID或WiFi热点来获取粗略的位置 -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <!-- 允许拨打电话 -->
    <uses-permission android:name="android.permission.CALL_PHONE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar">

        <!-- 高德地图api -->
        <meta-data
            android:name="com.amap.api.v2.apikey"
            android:value="90d7911aa9c61aa96a74e98fdb1ad589" />

        <activity
            android:name=".ui.LoginActivity"
            android:windowSoftInputMode="adjustNothing">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.RegisterActivity" />
        <activity android:name=".ui.HomePageActivity" />
        <activity android:name=".ui.PhoneActivity" />
        <activity android:name=".ui.Indent.IndentActivity" />
        <activity android:name=".ui.Indent.IndentConfirmActivity" />
        <activity android:name=".ui.CarInfoActivity" />
        <activity android:name=".ui.RegisterNextActivity" />
        <activity android:name=".ui.account.MyAccountActivity" />
        <activity android:name=".ui.account.MyUserNameEditActivity" />
        <activity android:name=".ui.tickets.HistoryTicketsActivity" />
        <activity android:name=".ui.tickets.CreateNewTicketActivity" />
        <activity
            android:name=".ui.position.CarPositionActivity"
            android:windowSoftInputMode="adjustNothing" />
        <activity android:name=".ui.order.OrderConfirmActivity" />
        <activity android:name=".ui.order.OrderToTicketActivity"></activity>
    </application>

</manifest>